schema/nom_includes.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:attribute name="filename">
        <xs:annotation>
            <xs:documentation>
                Must have ".nomxml" extension.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value=".*\.nomxml"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    <xs:element name="file">
        <xs:annotation>
            <xs:documentation>
                A file. Must have ".nomxml" extension.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute ref="filename"/>
        </xs:complexType>
    </xs:element>
    <xs:group name="filelist">
        <xs:annotation>
            <xs:documentation>
                List of files.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="file" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="includes">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    List of files to include.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:group ref="filelist"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>