schema/nome_scene.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="scenegroup" abstract="true">
        <xs:annotation>
            <xs:documentation>
                Abstract element for parameter elements.
            </xs:documentation>
        </xs:annotation>
    </xs:element>


    <xs:element name="instance" substitutionGroup="scenegroup">
        <xs:annotation>
            <xs:documentation>
                Creates an instance of geometry. One can optionally rotate, scale, translate the instance and specify its color, level-of-detail (LOD), and rendering mode.
                attributes:
                    name.
                    object.
                elements:
                    rotate: default=None.
                    scale: default=None.
                    translate: default=None.
                    surface: default=None.
                    LOD: default=None.
                    shading: default=None.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>

            </xs:sequence>
            <xs:attribute name="name" type="xs:ID" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Name of Instance. value: string.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="object" type="xs:IDREF" use="required">
                <xs:annotation>
                    <xs:documentation>
                        The name of the primitive, generator, or group that will be instantiated. value: string.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>


    <xs:element name="scene">
        <xs:annotation>
            <xs:documentation>
                Scene specifications.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="scenegroup" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>