schema/nome.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="nome">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="includes"/>
                <xs:element name="generators"/>
                <xs:element name="scene"/>
                <xs:element name="parameters"/>
                <xs:element name="render"/>
            </xs:sequence>
            <xs:attribute fixed="0.0.1" name="version">
                <xs:annotation>
                    <xs:documentation>
                        NOMEXML Schema versions consists of 3 digits, X.Y.Z, whose digits correspond to the version number of the schema. X is representative of major, non-backwards compatible changes, Y is representative of smaller incremantal backwards compatible changes, Z is representative of smaller bug fixes.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d+\.\d+\.\d+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema> 