schema/nome_generators.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="generatorsgroup" abstract="true">
        <xs:annotation>
            <xs:documentation>
                Abstract element for generator elements.
            </xs:documentation>
        </xs:annotation>
    </xs:element>


    <xs:element name="generators">
        <xs:annotation>
            <xs:documentation>
                Generator specifications.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="generatorgroup" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>