schema/nome_includes.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="file">
        <xs:simpleType>
            <xs:annotation>
                <xs:documentation>
                    A string filename. Must have .nomexml extension.
                </xs:documentation>
            </xs:annotation>
            <xs:restriction base="xs:string">
                <xs:pattern value=".*\.nomexml"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:group name="filelist">
        <xs:annotation>
            <xs:documentation>
                List of files
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="file" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="includes">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    List of files to include
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:group ref="filelist"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>